html,
body {
  width: 100vw;
  height: 100vh;
  background: #333;
  color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 2px solid #999;
  padding: 5px;
  background-color: rgba(0,0,0,0.4);
}
.gap {
  flex-grow: 1;
}
a {
  color: #fff;
  text-align: center;
  font-size: 10px;
}

#side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#content {
  position: relative;
}
canvas {
  background: #aaa;
}

.pause {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: 0.3s;
}

.pause.show {
  opacity: 1;
}
.score {
  font-weight: 600;
  gap: 10px;
  display: flex;
  font-size: 12px;
}
.score::before {
  content: 'Счёт: ';
  font-weight: 100;
}

.score:nth-child(2) {
  margin-top: -10px;
}

.score:nth-child(2)::before {
  content: 'Рекорд: '
}

button {
  cursor: pointer;
}